:root {
  --color-main: #009381;
  --color-accent-light: #52377A;
  --color-accent-dark: #B0C471;
  --color-light: #F6F6F6;
  --color-dark: #061520;
}

body {
  background-image: linear-gradient(to top, black, var(--color-dark));
  background-attachment: fixed; /* Make gradient fill entire screen*/
  margin: auto; margin: auto; /* FIX white border edge */
  color: var(--color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 16rem;
}

h1 {
  font-family: 'Jura', sans-serif;
  font-size: 6rem;
  font-weight: 400;
}

h2 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 2rem;
  font-weight: 400;
}